parameters:
  level: 8
  excludePaths:
    - vendor
  scanFiles:
    - class-external-update-manager.php
  scanDirectories:
    - %currentWorkingDirectory%/.cache/wordpress
    - %currentWorkingDirectory%/.cache/wordpress-tests-lib
  dynamicConstantNames:
    - ADMIN_COOKIE_PATH
    - COOKIE_DOMAIN
  ignoreErrors:
    - '#Constant [a-zA-Z\\_]*COOKIE_[a-zA-Z]+ not found#'
    - '#Property External_Update_Manager[0-9\\_]+::\$item_[a-zA-Z]+ \(string\) does not accept array\|string\|false.#'
